body{
    padding: 200px;

}

.submit_area{
    margin-top: 20px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
}

#transaction_area{
display: none;

}

.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;

}
.deposit{
 background-color: slateblue;   
}

.withdraw{
    background-color: lightsalmon;   
   }

.balance{
    background-color: orange;   
   }